<style>
      body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>

<div class="jumbotron">
  <h1 class="display-4">Course Catalog</h1>
  <p class="lead">As North Carolina’s urban research university, UNC Charlotte is a diverse and inclusive institution with local-to-global impact that transforms lives, communities and industries through access and affordability, exemplary undergraduate, graduate, and professional programs, scholarship, creative work, innovation and service.</p>
  <hr class="my-4">
  <p>Choose from wide verity of courses, which will help you achive your dream goals.</p>
  <p class="lead">
    <button href="https://www.charlotte.edu/" target="_blank" style="width:auto; color: #FFFFFF;" class="btn btn-success">Look for course</button>
    <button routerLink="/courseresg" style="width:auto; margin-left: 20px; color: #FFFFFF;" class="btn btn-success">Register for class</button>
  </p>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/10-ele.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ELECTRICAL ENGINEERING, M.S.E.E.</h5>
      <p class="card-text">The Master of Science in Electrical Engineering (MSEE) program provides advanced knowledge and technical skills in electrical and computer engineering.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ECGR 5142 - Power Generation: Operation and Control</li>
      <li class="list-group-item">ECGR 5144 - Power Electronics I</li>
      <li class="list-group-item">ECGR 6199 - Dynamics and Control of AC Drives</li>
    </ul>
    <div class="card-body">
      <button routerLink="/courseelec" style="width:auto; color: #FFFFFF;" class="btn btn-success">Course Catalog</button>
    </div>
  </div></div>
  <div class="col"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/11-comp.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">COMPUTER SCIENCE, M.S.</h5>
      <p class="card-text">The Master of Science in Computer Science program provides students advanced skills and knowledge in management of computer systems and applications.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ITCS 6157 - Visual Databases</li>
      <li class="list-group-item">ITCS 6100 - Big Data Analytics for Competitive Advantage</li>
      <li class="list-group-item">ITCS 6190 - Cloud Computing for Data Analysis</li>
    </ul>
    <div class="card-body">
      <button routerLink="/coursecomp" style="width:auto; color: #FFFFFF;" class="btn btn-success">Course Catalog</button>
    </div>
  </div></div>
  <div class="col"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/12-dsba.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SOFTWARE & INFORMATION SYSTEMS, MS</h5>
      <p class="card-text">The Software and Information Systems Department (SIS) is a pioneer in Information Technology research and education. We offer a wide selection of courses.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ITIS 5250 Computer Forensics</li>
      <li class="list-group-item">ITIS 6200 Information Security and Privacy</li>
      <li class="list-group-item">ITIS 6177 System Integration</li>
    </ul>
    <div class="card-body">
      <button routerLink="/courseitis" style="width:auto; color: #FFFFFF;" class="btn btn-success">Course Catalog</button>
    </div>
  </div></div>
  <div class="col"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/12-itis.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DATA SCIENCE AND BUSINESS ANALYTICS, MS</h5>
      <p class="card-text">The Data Science and Business Analytics program at UNC Charlotte is the region’s first graduate program developed to prepare future leaders in data science and business analytics.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">DSBA 5122 - Visual Analytics</li>
      <li class="list-group-item">DSBA 6276 - Strategic Business Analytics</li>
      <li class="list-group-item">DSBA 5510 - Web Mining</li>
    </ul>
    <div class="card-body">
      <button routerLink="/coursedsba" style="width:auto; color: #FFFFFF;" class="btn btn-success">Course Catalog</button>
    </div>
  </div></div>
</div>
<br>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
  </div>
</footer>
