<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<div class="jumbotron">
    <h1 class="display-4">Course Registration</h1>
    <p class="lead">A course registration system is a platform that allows students to enroll in courses offered by an
        UNC Charlotte educational institution. It typically involves managing course offerings, student profiles, enrollment status,
        and the registration process itself.</p>
    <hr class="my-4">
    <div class="lead1">
        Policy on Continuous Course Registration:
        <br>
        <br>
        <ul>
            <li>Students in graduate degree programs are required to maintain continuous registration (Fall and Spring
                semesters) for thesis, dissertation, project, or directed study until work is completed.</li>
            <li>Students are not required to enroll in any Summer term unless they are using University resources or
                they are completing degree requirements in that term.</li>
            <li>The continuous registration requirement begins with the semester in which the student first registers
                for his/her thesis, dissertation, project, or directed study.</li>
            <li>International students on F-1 visa/status must remain continuously enrolled until the thesis,
                dissertation, project or directed study is completed.</li>
            <li>Students using University resources should enroll in the number of graduate credit hours that best
                reflects the amount of resources being used (typically three (3) or more graduate credit hours).</li>
        </ul>
    </div>
    <p class="lead">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-success">Get Course Recommendations</button>
        
        <button routerLink="/coursecatelog" style="width:auto; margin-left: 20px; color: #FFFFFF;" class="btn btn-success">Look For Course</button>
    </p>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
            <form class="modal-content">
                <h1 style="margin-left: 20px; margin-top: 20px; font-weight: 700;">Student Information Page</h1>
                    <p style="margin-left: 20px; font-weight: 500;">Please fill in this form to start the course registration process.</p>

                <div class="form-outline mb-4" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                  <label class="form-label" for="form3Example3" >First Name</label>
                  <input type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" id="form3Example3"  class="form-control form-control-lg"
                    placeholder="Enter a valid first name" />
                </div>

                <div class="form-outline mb-4" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example3">Last Name:</label>
                    <input type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid last name"/>
                </div>

                <div class="form-outline mb-4" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid email address" />
                </div>

                <div class="form-outline mb-4" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example3">Student ID</label>
                    <input type="number" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid student ID"/>
                </div>
                
                <div class="form-outline mb-4" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example3">Course Programs</label>
                    <input type="text" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Course Programs"/>
                </div>

                <div class="form-outline mb-3" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                  <label class="form-label" for="form3Example4">Number of Subjects</label>
                  <input type="text" [(ngModel)]="numsubjects" [ngModelOptions]="{standalone: true}" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Number of Subjects"/>
                </div>

                <div class="form-outline mb-3" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example4">Intensity level</label>
                    <input type="text" [(ngModel)]="intensityslevel" [ngModelOptions]="{standalone: true}" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter Intensity level for courses"/>
                </div>

                <div class="form-outline mb-3" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example4">Interested Fields</label>
                    <input type="text" [(ngModel)]="interestfields" [ngModelOptions]="{standalone: true}" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter Interested Fields"/>
                </div>
                <div class="form-outline mb-3" style="margin-left: 20px; margin-right: 20px; font-weight: 500;">
                    <label class="form-label" for="form3Example4">Subjects Taken/Interested</label>
                    <input type="text" [(ngModel)]="interestsubjects" [ngModelOptions]="{standalone: true}" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter Subjects Taken/Interested"/>
                </div>
                <label>
                    <input type="checkbox" checked="checked"  style="margin-left: 20px; font-weight: 500;"> Agree to terms and condition.
                </label>
                <p style="margin-left: 20px; font-weight: 500;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
                </p>
                <div class="text-center text-lg-start mt-4 pt-2" style="margin-left: 20px; font-weight: 500; margin-right: 20px;">
                    <button type="button" class="btn btn-success btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="Submit()">Submit</button>
                    <button type="button" class="btn btn-success btn-lg" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                  </div>
              </form>
        <!-- <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Student Information Page</h1>
                    <p>Please fill in this form to start the course registration process.</p>
                    <hr>
                    
                    <label for="psw-repeat"><b>First Name</b></label>
                    <input formControlName="firstName" type="text" placeholder="First Name" required>

                    <label for="psw-repeat"><b>Last Name</b></label>
                    <input formControlName="lastName" type="text" placeholder="Last Name" required>

                    <label for="email"><b>Email</b></label>
                    <input formControlName="email" type="text" placeholder="Enter Your Email" required>

                    <label for="ID"><b>Student ID</b></label>
                    <input formControlName="studentID" type="text" placeholder="Enter Your Student ID" required>

                    <label for="degreeprogram"><b>Degree Program</b></label>
                    <div formGroupName="degreeProgram">
                        <select formControlName="degreeProgram" style="width: 1110px; height: 50px;">
                          <option value='elec'>ELECTRICAL ENGINEERING, M.S.E.E.</option>
                          <option value='comp'>COMPUTER SCIENCE, M.S.</option>
                          <option value='sis'>SOFTWARE & INFORMATION SYSTEMS, MS</option>
                          <option value='dsba'>DATA SCIENCE AND BUSINESS ANALYTICS, MS</option>
                        </select>
                    </div>
                    <br>

                    <label for="courseprogram"><b>Course Programs</b></label>
                    <div formControlName="courseProgram">
                        <select formControlName="courseProgram" style="width: 1110px; height: 50px;">
                          <option value='undergradute'>Undergradute</option>
                          <option value='Graduate'>Graduate</option>
                        </select>
                    </div>
                    <br>

                    <label for="classstructure"><b>Class Structure</b></label>
                    <div formControlName="classStructure">
                        <select formControlName="classStructure" style="width: 1110px; height: 50px;">
                          <option value='facetoface'>Face-to-Face</option>
                          <option value='online'>Online</option>
                          <option value='hybrid'>Hybrid</option>
                        </select>
                    </div>
                    <br>

                    <label for="psw-repeat"><b>Number of Subjects Interested</b></label>
                    <div formControlName="numSubjects">
                        <select formControlName="numSubjects" style="width: 1110px; height: 50px;">
                          <option value='1'>1</option>
                          <option value='2'>2</option>
                          <option value='3'>3</option>
                          <option value='4'>4</option>
                        </select>
                    </div>
                    <br>

                    <label for="psw-repeat"><b>Intensity level</b></label>
                    <div formControlName="intensityLevel">
                        <select formControlName="intensityLevel" style="width: 1110px; height: 50px;">
                          <option value='easy'>Intermediate</option>
                          <option value='medium'>Advanced</option>
                        </select>
                    </div>
                    <br>

                    <label for="psw-repeat"><b>Interested Fields</b></label>
                    <input type="text" placeholder="Enter your interests" formControlName="interestFields"  required>

                    <label for="psw-repeat"><b>Subjects Taken/Interested</b></label>
                    <input type="text" placeholder="Enter your interests" formControlName="interestSubjects"  required>

                    <label>
                        <input type="checkbox" checked="checked"  style="margin-bottom:15px"> Agree to terms and condition.
                    </label>

                    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
                    </p>

                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel</button>
                        <button type="button" class="signupbtn">Submit</button>
                        
                    </div>
            </div>
        </form> -->
    </div>
</div>
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
    </div>
</footer>