<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">SOFTWARE & INFORMATION SYSTEMS, MS</h1>
      <p class="lead">The Software and Information Systems Department (SIS) is a pioneer in Information Technology research and education. We offer a wide selection of courses in Information Technology and Software Engineering, with an emphasis on designing and deploying IT infrastructures that deliver integrated, secure, reliable, and easy-to- use services. We also partner with the Computer Science and Geography and Earth Sciences departments to offer specific concentrations in those fields to our students.</p>
    </div>
  </div>

  <div class="courseelc">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ITIS 5221 - Secure Programming and Penetration Testing
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Techniques for web application penetration testing, secure software development techniques for network based applications. Automated approaches such as static code analysis and application scanning are also discussed.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITIS 4166 or ITIS 5166, or permission of department.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ITIS 5250 - Computer Forensics
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            digital evidence; responding to electronic incidents; tracking communications through networks; understanding electronic media, crypto-literacy, data hiding, hostile code, and Windows™ and UNIX™ system forensics; and the role of forensics in the digital environment.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Fall 2016</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              ITIS 6140 - Software Testing and Quality Assurance
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Methods for evaluating software for correctness and reliability including code inspections, program proofs and testing methodologies. Formal and informal proofs of correctness. Code inspections and their role in software verification. Unit and system testing techniques, testing tools and limitations of testing. Statistical testing, reliability models. Software engineering maturity model.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): Restriction(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              ITIS 6150 - Software Assurance
            </button>
          </h5>
        </div>
    
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            An introduction to software assurance education and research. Topics include: the security of software across the development life cycle that addresses trustworthiness, predictable execution and conformance. Various aspects of secure software requirements, design, construction, verification, and validation, process and engineering management are focused on as they relate to secure software development. Students gain hands-on experience in various techniques and tools as part of a semesterlong project in addition to other assignments.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              ITIS 6167 - Network Security
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Examines the issues related to network security. Topics include: network security background and motivation, network centric threats, network authentication and identification, network security protocols, firewall, IDS, security in wireless environments, email security, instant message security, network application security, and network based storage security. There are heavy lab based components in this course
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): Restriction(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Spring 2014, Fall 2013</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              ITIS 6200 - Principles of Information Security and Privacy
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Topics include: security concepts and mechanisms; security technologies; authentication mechanisms; mandatory and discretionary controls; basic cryptography and its applications; database security, intrusion detection and prevention; assurance requirement, assurance class, evaluation methods and assurance maintenance; anonymity and privacy issues for information systems.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2014, Fall 2013</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
              ITIS 6210 - Access Control and Security Architecture
            </button>
          </h5>
        </div>
    
        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            Discusses objectives, formal models, and mechanisms for access control; and access control on commercial off-the-shelf (COTS) systems. Examines the issues related to security architectures and technologies for authorization. Topics include: cryptographic infrastructure, distributed systems security architectures, database systems security architectures, Internet security architectures, network security architectures and e-commerce security architectures.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITIS 6200 or permission of department.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              ITIS 6230 - Information Infrastructure Protection
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            Methodologies, tools, and technologies that are important for protecting information systems and information infrastructures. Topics include: techniques, processes and methodologies for information security risk assessment and management, systems modeling and analysis using logic programming and formal methods, tools and technologies for critical infrastructure protection, methodologies for continuous operation and recovery from disasters.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITIS 6200 or permission of department.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              ITIS 6250 - Open Source Security Systems
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
            An introduction to the design, implementation, evaluation and maintenance of secure software systems and applications using open source technologies, with an emphasis on hands-on experience.  Topics include: open source ecosystems, open source security methodologies and models, notable open source software systems and projects, quality and security assurance through open source, open source supply chain security, major open source cryptographic packages; designing, implementing and maintaining security systems using open source technologies; assessment and regulatory compliance using open source tools, and open source hardware.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITIS 6200 or equivalent, or permission of department.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Spring 2015, Spring 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            ITIS 6362 - Information Technology Ethics, Policy, and Security
          </button>
        </h5>
      </div>
  
      <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          Management of Information technology involves understanding the broader issues of ethics, policy and security. The growth in Internet usage and E-commerce require IT professionals to consider issues pertaining to data protection, regulation, and appropriate use and dissemination of information. The course is designed to be team-taught by professionals in the field.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): CCI graduate standing or permission of department.</li>
                  <li>Most Recently Offered (Day): Course has not been offered at this time in the past 3 years</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  
  <br>  
  <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
      </div>
    </footer>
    