<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">DATA SCIENCE AND BUSINESS ANALYTICS, MS</h1>
      <p class="lead">The Data Science and Business Analytics program at UNC Charlotte is the region’s first graduate program developed to prepare future leaders in data science and business analytics. Designed in conjunction with local, regional, and international leaders in the field, our interdisciplinary program is dedicated to providing the skills necessary for success.</p>
    </div>
  </div>

  <div class="courseelc">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              DSBA 5121 - Information Visualization
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Information visualization concepts, theories, design principles, popular techniques, evaluation methods, and information visualization applications.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Full graduate standing and enrollment in the DSBA PSM or Graduate Certificate program</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              DSBA 6155 - Knowledge-Based Systems
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Knowledge systems; knowledge discovery; association rules; action rules, hierarchical classifiers, cascade classifiers, query languages and their semantics; cooperative and collaborative systems; ontology and metadata; flexible query answering; chase algorithms and data sanitization methods; decision support systems in medicine; and automatic indexing of music.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Full graduate standing and enrollment in the DSBA PSM or Graduate Certificate program.</li>
                  <li>Most Recently Offered (Day): Fall 2016</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              DSBA 6165 - Artificial Intelligence and Deep Learning
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Introduces state-of-the-art methods in deep learning while setting a proper context for the growth of machine learning by providing an overview of the broader field of artificial intelligence (AI).  Topics emphasize neural networks and deep learning architectures, but also include broader AI concepts such as knowledge representation, computer vision, as well as advanced learning methods such as transfer learning and reinforcement learning.  Application of the deep learning methods to real world problems such as computer vision, natural language processing, and genomic analysis are examined both in class and in projects. 
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): DSBA 6156</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              DSBA 6190 - Cloud Computing for Data Analysis
            </button>
          </h5>
        </div>
    
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Introduction to the basic principles of cloud computing for data-intensive applications.  Focuses on parallel computing using Google’s MapReduce paradigm on Linux clusters, and algorithms for large-scale data analysis applications in web search, information retrieval, computational advertising, and business and scientific data analysis.  Students read and present research papers on these topics, and implement programming projects using Hadoop, an open source implementation of Google’s MapReduce technology, and related NoSQL technologies for analyzing unstructured data.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6114 or permission of department.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              DSBA 6345 - Modern Data Science Systems
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
                Advanced and recent techniques in data science, and their applications to business problems. Topics include: enterprise search and question answering, machine learning with neural networks, probabilistic and graph algorithms, and topological data analysis.  Most assignments are done “in the cloud.”  The course assumes basic knowledge of data science exemplified by a graduate, undergraduate, or online machine learning course; a natural language processing course; as well as knowledge of elementary linear algebra, calculus, and statistics.  Some experience with cloud computing is also expected.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): DSBA 6156</li>
                  <li>Most Recently Offered (Day): Course has not been offered at this time in the past 3 years</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              DSBA 6112 - Graduate Econometrics
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
                Advanced study of the theory and application of statistics to economic problems. Topics include: derivation of least-squares estimators; maximum likelihood estimation; and problems of multicollinearity, heteroskedasticity, and autocorrelation.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Full graduate standing and enrollment in the DSBA PSM or Graduate Certificate program.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2014, Fall 2013</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
              DSBA 6122 - Decision Modeling and Analysis
            </button>
          </h5>
        </div>
    
        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            An analytical approach to the management process. Generalized models for decision making with major emphasis on application of the scientific method to management problems.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Full graduate standing and enrollment in the DSBA PSM or Graduate Certificate program.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              DSBA 6212 - Enterprise Systems
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            An overview of Enterprise Resource Planning (ERP).  Using business cases and hands-on training with ERP tools, students learn how ERP systems support an organization’s core business processes in achieving its strategic and operational goals.  The role of ERP systems in business analytics and intelligence, the configuration of ERP systems, and the methods of evaluation, selection and implementation of ERP systems are also covered.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Permission of DSBA Program Director.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              DSBA 6277 - Social Media Marketing and Analytics
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
            The utilization of social media in marketing strategy and tactics. Topics include: the use of social media in building brand strength and equity, as a customer acquisition tool, and as a customer relationship management tool. The utilization of analytics in effective social media marketing.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): Full graduate standing and enrollment in the DSBA PSM or Graduate Certificate program.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Spring 2015, Spring 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            DSBA 6115 - Statistical Learning with Big Data
          </button>
        </h5>
      </div>
  
      <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          A survey of major statistical learning concepts and methods for big data analysis, including both supervised and unsupervised learning such as resampling methods, support vector machines, model selection and regularization, tree-based methods and ensembles, and statistical graphics.  Students learn how and when to apply statistical learning techniques, their comparative strengths and weaknesses, and how to critically evaluate the performance of learning algorithms in case studies in financial investment, gene identification, and feature selection in high-dimensional spaces.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): STAT 6115.</li>
                  <li>Most Recently Offered (Day): Course has not been offered at this time in the past 3 years</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  
  <br>  
  <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
      </div>
    </footer>
    