<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* Add a background color when the inputs get focus */
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button {
    background-color: #a49665;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #005035;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #101820;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #a49665;
    margin-bottom: 25px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }

  .close:hover,
  .close:focus {
    color: #007377;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }
</style>

<div class="jumbotron">
  <h1 class="display-4">Investment Advice</h1>
  <p class="lead">
    Welcome to the 49er Investment Corner — your compass in the world of
    finance! Tailored for the UNC Charlotte community, we're here to guide you
    through the maze of investment options. Our advice page is a treasure trove
    of insights, from foundational investment strategies to advanced portfolio
    management. Whether you're taking your first steps towards financial
    independence or looking to diversify your assets, we provide the know-how to
    help you make informed decisions that resonate with your personal goals.
    Start turning your academic achievements into financial success and let your
    money grow with you, every step of the way. Join us, and let's build your
    future on a solid foundation of smart, strategic investments.
  </p>
  <hr class="my-4" />
  <p>Empowering 49ers to Invest Wisely — Secure Your Financial Future Today!</p>
  <p class="lead">
    <a
      href="https://www.investopedia.com/articles/younginvestors/12/best-investments-for-young-people.asp"
      target="_blank"
      class="btn btn-primary"
      style="background-color: #a49665; border-color: #a49665; margin: 10px"
      >Take a Look</a
    >
    <a
      href="https://www.nytimes.com/2020/02/10/smarter-living/the-young-persons-guide-to-investing.html"
      target="_blank"
      class="btn btn-secondary"
      style="margin-left: 20px"
      style="background-color: #005035; border-color: #005035"
      >Read about Investments Overlook</a
    >
  </p>
</div>

<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 style="color: #005035; font-weight: 600;">Smart Investing for College Students: Building a Strong Financial Future</h2>
        <p>
          Navigating the world of investments as a college student can be a
          powerful step towards financial independence and literacy.
          Understanding the basics of investing, even with limited funds, can
          set the foundation for future financial success.
        </p>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa-solid fa-building-columns custom-icon"></i></div>
          <h4 class="title">
            <a href="your-link-for-start-small" style="color: #005035; font-weight: 600;">Start Small</a>
          </h4>
          <p class="description">
            Begin your investment journey with small, manageable amounts.
            Explore options like micro-investing apps or low-cost index funds
            that allow you to start with minimal funds while learning the ropes.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fa-solid fa-piggy-bank custom-icon"></i></div>
          <h4 class="title">
            <a href="your-link-for-understand-risk" style="color: #005035; font-weight: 600;">Understand Risk</a>
          </h4>
          <p class="description">
            All investments come with risk. As a student, focus on long-term
            growth and understand how risk tolerance fits into your investment
            choices. Diversifying your portfolio can help manage risk
            effectively.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fa-solid fa-ranking-star custom-icon"></i></div>
          <h4 class="title">
            <a href="your-link-for-plan-for-the-future" style="color: #005035; font-weight: 600;">Plan for the Future</a
            >
          </h4>
          <p class="description">
            Think long-term. Even small investments made now can grow
            significantly over time. Consider retirement accounts like Roth
            IRAs, which offer tax benefits and can be a smart way to save and
            invest.
          </p>
        </div>
      </div>

      <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
        <img
          src="../../assets/about-extra-1.svg"
          class="img-fluid"
          alt="Investment Image"
        />
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row about-extra">
      <div class="col-lg-6" data-aos="fade-right">
        <img
          src="../../assets/about-extra-2.svg"
          class="img-fluid"
          alt="Financial Planning Image"
        />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
        <h2 style="color: #005035; font-weight: 600;">Budgeting and Saving: The First Steps</h2>
        <p>
          Effective investment starts with good budgeting. Learn to manage your
          finances by setting aside a portion of your income or allowance for
          investments. Regular saving habits can free up capital to grow through
          investments.
        </p>
        <p>
          Utilize student discounts and be mindful of unnecessary expenses. The
          money you save can be your first step towards investing.
        </p>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row about-extra">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
        <img
          src="../../assets/about-img.svg"
          class="img-fluid"
          alt="Investment Tools Image"
        />
      </div>

      <div
        class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-right"
      >
        <h2 style="color: #005035; font-weight: 600;">Educate Yourself Continuously</h2>
        <p>
          Investing is an ongoing learning process. Stay informed about
          financial markets, read books, follow reputable financial blogs, and
          even consider courses on personal finance and investment. The more you
          know, the better your investment decisions will be.
        </p>
        <p>
          Consider joining or starting a college investment club. Such
          communities can be great resources for learning and sharing investment
          strategies.
        </p>
        <p>
          Remember, informed investing is responsible investing. Don't hesitate
          to seek advice from financial advisors or mentors with investment
          experience.
        </p>
      </div>
    </div>
  </div>
</section>
