<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Interview Tips</h1>
    <p class="lead">Welcome to our Interview Tips page! This is your ultimate guide to mastering the art of the job interview and landing your dream position. We know how important it is to leave a lasting impression on your potential employer, and our expert advice is designed to help you do just that. From preparation strategies to closing the deal, we've got you covered.</p>
    <hr class="my-4">
    <div class="lead1">
        Ace the Interview: Tips to Make a Lasting Impression, Navigate Your Way to Success and Elevate Your Interview Game. 
        <br>
        <br>
        <ul>
            <li>Research, Research, Research:
                <ul>Before stepping foot into an interview, it's essential to gather as much information as possible about the company, its culture, and the position you're applying for. Use this knowledge to tailor your responses and showcase your genuine interest in the organization.</ul>
            </li>
            <br>
            <li>Dress for Success:
                <ul>First impressions are crucial, and dressing professionally is an important part of creating a positive image. Choose attire that is appropriate for the industry and the role you're applying for, and always lean towards a more conservative look.</ul>
            </li>
            <br>
            <li>Practice Makes Perfect:
                <ul>Anticipate common interview questions and rehearse your answers. Focus on using the STAR method (Situation, Task, Action, and Result) to structure your responses in a clear and concise manner.</ul>
            </li>
            <br>
            <li>Master the Art of Nonverbal Communication:
                <ul>Your body language, eye contact, and tone of voice can speak volumes during an interview. Maintain an open posture, make eye contact with the interviewer, and speak clearly and confidently to demonstrate your enthusiasm for the role.</ul>
            </li>
            <br>
            <li>Ask Insightful Questions:
                <ul>Prepare a list of thoughtful questions to ask the interviewer. This not only demonstrates your genuine interest in the position but also helps you gather valuable information about whether the company and role are a good fit for you.</ul>
            </li>
            <br>
            <li>Be Yourself:
                <ul>While it's important to be professional, it's equally crucial to let your personality shine through. Employers want to hire individuals who will fit well within their team, so be genuine and let your true self-show.</ul>
            </li>
            <br>
        </ul>
        By following these tips and practicing your interview skills, you'll be well on your way to acing your next job interview and securing the position of your dreams. Remember, confidence is key – believe in yourself, and you'll make a powerful impression.
    </div>
    <br>
    <p class="lead">
        <button style="width:auto;" class="btn btn-success">Take a Next Step</button>

        <button style="width:auto; margin-left: 20px; color: #FFFFFF;"
            class="btn btn-success">Contact the Advisor</button>
    </p>
</div>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
    </div>
</footer>