<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<div class="container">
    <div class="profile-page tx-13">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="profile-header">
                    <div class="cover">
                        <div class="gray-shade"></div>

                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div>
                                <img class="profile-pic"
                                    src="https://therichpost.com/wp-content/uploads/2021/03/avatar6.png" alt="profile">
                                <span class="profile-name">Soham Gokhle</span>

                            </div>
                            <span class="profile-tag">Graduate Student at UNC Charlotte | Computer Science </span>
                            <p class="lead">
                                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit Profile</button>
                            </p>
                            <div id="id01" class="modal">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                    title="Close Modal">&times;</span>
                                <form class="modal-content" action="/action_page.php">
                                    <div class="container">
                                        <h1>Student Information Page</h1>
                                            <p>Please fill in this form to edit your profile.</p>
                                            <hr>
                                            
                                            <label for="psw-repeat"><b>First Name</b></label>
                                            <input type="text" placeholder="First Name" name="psw-repeat" required>
                        
                                            <label for="psw-repeat"><b>Last Name</b></label>
                                            <input type="text" placeholder="Last Name" name="psw-repeat" required>
                        
                                            <label for="email"><b>Email</b></label>
                                            <input type="text" placeholder="Enter Your Email" name="email" required>
                        
                                            <label for="ID"><b>Student ID</b></label>
                                            <input type="text" placeholder="Enter Your Student ID" name="ID" required>
                        
                                            <label for="degreeprogram"><b>Degree Program</b></label>
                                            <form id="form1" name="degreeprogram" required>
                                                <select width=600 
                                                        style="width: 1110px; height: 50px;">
                                                  <option value='elec'>ELECTRICAL ENGINEERING, M.S.E.E.</option>
                                                  <option value='comp'>COMPUTER SCIENCE, M.S.</option>
                                                  <option value='sis'>SOFTWARE & INFORMATION SYSTEMS, MS</option>
                                                  <option value='dsba'>DATA SCIENCE AND BUSINESS ANALYTICS, MS</option>
                                                </select>
                                            </form>
                                            <br>
                        
                                            <label for="courseprogram"><b>About</b></label>
                                            <input type="text" placeholder="Abouturself" name="about" required>
                        
                                            <label for="classstructure"><b>Address</b></label>
                                            <input type="text" placeholder="address" name="address" required>
                        
                                            <label for="psw-repeat"><b>Social Media</b></label>
                                            <p>Linkedin:</p>
                                            <input type="text" placeholder="Linkedin" name="Social1" required>
                                            <p>Facebook:</p>
                                            <input type="text" placeholder="Facebook" name="Social2" required>
                                            <p>Twitter:</p>
                                            <input type="text" placeholder="Twitter" name="Social3" required>
                        
                                            <label>
                                                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Agree to terms and condition.
                                            </label>
                        
                                            <p>By creating an account you agree to our <a href="https://www.charlotte.edu/" style="color:dodgerblue">Terms & Privacy</a>.
                                            </p>
                        
                                            <div class="clearfix">
                                                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                                    class="cancelbtn">Cancel</button>
                                                <button type="submit" class="signupbtn">Register</button>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row profile-body">
            <!-- left wrapper start -->
            <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="card-title mb-0">About</h6>
                            <div class="dropdown">
                                <span class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-more-horizontal icon-lg text-muted pb-3px">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-edit-2 icon-sm mr-2" onclick="document.getElementById('id01').style.display='block'">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg> <span class="">Edit</span></a>
                                    <a class="dropdown-item d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-git-branch icon-sm mr-2" onclick="document.getElementById('id01').style.display='block'">
                                            <line x1="6" y1="3" x2="6" y2="15"></line>
                                            <circle cx="18" cy="6" r="3"></circle>
                                            <circle cx="6" cy="18" r="3"></circle>
                                            <path d="M18 9a9 9 0 0 1-9 9"></path>
                                        </svg> <span class="">Update</span></a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-eye icon-sm mr-2">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg> <span class="">View all</span></a>
                                </div>
                            </div>
                        </div>
                        <p>Graduate Student at UNC Charlotte | Computer Science | Data Science | TIBCO Consultant | Data
                            Virtualization | Spotfire | EBX.</p>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
                            <p class="text-muted">Aug 22, 2022</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                            <p class="text-muted">Charlotte, North Carolina, USA</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                            <p class="text-muted">sohamgokhale96@gmail.com</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Website:</label>
                            <p class="text-muted">https://www.linkedin.com/in/sohamgokhale96/</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- left wrapper end -->
            <!-- middle wrapper start -->
            <div class="col-md-8 col-xl-6 middle-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">



                    </div>
                </div>
            </div>
            <!-- middle wrapper end -->
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-xl-3 right-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">

                    </div>
                </div>
            </div>
            <!-- right wrapper end -->
        </div>
    </div>
</div>
<br>
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
    </div>
</footer>