<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">COMPUTER SCIENCE, M.S.</h1>
      <p class="lead">The Master of Science in Computer Science program provides students advanced skills and knowledge in planning, design, implementation, testing, and management of computer systems and applications.  These skills form a good foundation for employment in high tech industry, or doctoral study in computer science. </p>
    </div>
  </div>

  <div class="courseelc">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ITCS 5102 - Survey of Programming Languages
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Study of the concepts underlying various computer languages, and comparing and evaluating various language features. History and development of various languages, such as FORTRAN, ALGOL, PASCAL, MODULA-2, C, C++, Ada, Lisp, Smalltalk, Prolog.; evaluation and comparison of various algorithms and language suitability. Selection of languages for problems/environments. Overview of various languages.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Fall 2016, Summer 2016</li>
                  <li>Most Recently Offered (Evening): Fall 2016, Spring 2016, Fall 2015</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ITCS 5180 - Mobile Application Development
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Mobile platforms are at the center of attention of users and organizations nowadays. Most organizations and businesses are rapidly migrating toward the cloud and need to provide a fast and easy mechanism for users to stay connected to their services. Mobile applications are the top trend nowadays given the high variety of new mobile devices and platforms such as Apple’s iOS and Google’s Android. In this course, students are introduced to the foundations of mobile development and its unique requirements and constraints. Students design and build a variety of mobile applications with a hands-on and projectbased approach.
              <br>
              <br>
              <ul>
                  <li>CCI graduate standing or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Summer 2016, Summer 2015</li>
                  <li>Most Recently Offered (Evening): Fall 2016, Spring 2016, Fall 2015</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              ITCS 6155 - Knowledge-Based Systems
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Knowledge systems; knowledge discovery; association rules; action rules, hierarchical classifiers, cascade classifiers, query languages and their semantics; cooperative and collaborative systems; ontology and metadata; flexible query answering; chase algorithms and data sanitization methods; decision support systems in medicine; and automatic indexing of music.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6162 or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Summer 2016, Spring 2016</li>
                  <li>Most Recently Offered (Evening): Fall 2014</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              ITCS 6157 - Visual Databases
            </button>
          </h5>
        </div>
    
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Topics include: representation of visual content, querying visual databases, content-based interactive browsing and navigation, system architecture, similarity models, indexing visual databases, data models and knowledge structures, image retrieval by similarity, and video retrieval by content.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6160, ITIS 6120, or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              ITCS 6100 - Big Data Analytics for Competitive Advantage
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            An introduction to the use of big data as a strategic resource. A focus is placed on integrating the knowledge of analytics tools with an understanding of how companies leverage data analytics to gain strategic advantage. A case approach is used to emphasize hands-on learning and a real-world view of big data analytics.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Fall 2016, Spring 2016</li>
                  <li>Most Recently Offered (Evening): Fall 2016, Spring 2016, Fall 2015</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              ITCS 6162 - Knowledge Discovery in Databases
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            The entire knowledge discovery process is covered in this course. Topics include: setting up a problem, data preprocessing and warehousing, data mining in search for knowledge, knowledge evaluation, visualization and application in decision making. A broad range of systems, such as OLAP, LERS, DatalogicR+, C4.5, AQ15, Forty-Niner, CN2, QRAS, and discretization algorithms are covered.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6160, ITIS 6120, or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Fall 2016, Summer 2016</li>
                  <li>Most Recently Offered (Evening): Fall 2016, Spring 2014, Fall 2013</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
              ITCS 6160 - Database Systems
            </button>
          </h5>
        </div>
    
        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            The modeling, programming, and implementation of database systems. Focuses on relational database systems, but may also address non-relational databases or other advanced topics. Topics include: (1) modeling: conceptual data modeling, ER diagram, relational data model, schema design and refinement; (2) programming: relational algebra and calculus, SQL, constraints, triggers, views; (3) implementation: data storage, indexing, query execution, query optimization, and transaction management; and (4) advanced: semi-structured data model, XML, and other emerging topics.
              <br>
              <br>
              <ul>
                  <li>Restriction(s): CCI graduate standing or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Fall 2016, Summer 2016</li>
                  <li>Most Recently Offered (Evening): Spring 2015</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              ITCS 6163 - Data Warehousing
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            Topics include: use of data in discovery of knowledge and decision making; the limitations of relational databases and SQL queries; the warehouse data models: multidimensional, star, snowflake; architecture of a data warehouse and the process of warehouse construction; data consolidation from various sources; optimization; techniques for data transformation and knowledge extraction; relations with enterprise modeling.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6160, ITIS 6120, or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Spring 2017, Fall 2016, Spring 2014</li>
                  <li>Most Recently Offered (Evening): Spring 2016, Spring 2015</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              ITCS 6190 - Cloud Computing for Data Analysis
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
            Introduction to the basic principles of cloud computing for dataintensive applications. Focuses on parallel computing using Google’s MapReduce paradigm on Linux clusters, and algorithms for large-scale data analysis applications in web search, information retrieval, computational advertising, and business and scientific data analysis. Students read and present research papers on these topics, and implement programming projects using Hadoop, an open source implementation of Google’s MapReduce technology, and related NoSQL technologies for analyzing unstructured data.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6114 or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            ITCS 6265 - Advanced Topics in Knowledge Discovery in Databases
          </button>
        </h5>
      </div>
  
      <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          Continuation and extension of ITCS 6162. Information visualization in data mining and knowledge discovery, predictive data mining, mining of multimedia sources, mining of unstructured data, distributed data mining, mining of Web data/information, mining complex types of data, mining of biotechnology data, applications, and trends in data mining.
              <br>
              <br>
              <ul>
                  <li>Prerequisite(s): ITCS 6162 or permission of instructor.</li>
                  <li>Most Recently Offered (Day): Summer 2016</li>
                  <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  
  <br>  
  <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
      </div>
    </footer>
    