<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">ELECTRICAL ENGINEERING, M.S.E.E.</h1>
      <p class="lead">The Master of Science in Electrical Engineering (MSEE) program provides advanced knowledge and technical skills in electrical and computer engineering.  In addition to taking graduate level courses in one or more areas of concentration within the department, students in the MSEE program also have opportunities to engage in research and individualized projects. The goal of this program is to graduate engineers with effective problem solving and communication skills.</p>
    </div>
</div>
<div class="courseelc">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ECGR 5142 - Power Generation: Operation and Control
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Characteristics of power generation units, steam, nuclear reactor and hydroelectric. Economic and thermal system dispatch. Transmission losses, load flow problems. Hydro scheduling, hydro-plant models. Energy production cost models. Interchange evaluation. Credit will not be given for ECGR 5142 where credit has been given for ECGR 4190.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): ECGR 4142 or equivalent.</li>
                <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ECGR 5104 - Computational Methods in Power Systems
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            Numerical techniques for analysis, operation and planning of power systems. Sparse matrix techniques applied to power flow algorithms. Economic operation of power systems. Optimum power flow. Credit will not be given for ECGR 5104 where credit has been given for ECGR 4104.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): ECGR 4142 or equivalent.</li>
                <li>Most Recently Offered (Day): Fall 2016</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ECGR 5144 - Power Electronics I
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Topics include: power transfer, DC/DC converters, DC/AC inverters for use in resonant converters and motor drives, AC/DC rectifiers, gate-drive circuits for linear and switching amplifiers, pulse-width modulators, introduction to power supply design correction Credit will not be given for ECGR 5144 where credit has been given for ECGR 4144.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Graduate standing and knowledge of fundamentals of electric circuit analysis and electronics, or permission of department. High power solid state circuits.</li>
                <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            ECGR 5195 - Electrical Machinery
          </button>
        </h5>
      </div>
  
      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            Advanced theory of transformers and rotating. Machines; harmonic and saturation effects on machine performance. Unbalanced operation and transient conditions. Credit will not be given for ECGR 5195 where credit has been given for ECGR 4143.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): ECGR 3142 or equivalent.</li>
                <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Spring 2015</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ECGR 6199 - Dynamics and Control of AC Drives
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
            An advanced course focusing on studying the theory behind the control of ac drive systems. Topics include: coupled circuit modeling of ac machines, dynamic modeling of induction machines, power converter and converter modeling, the simulation of electric machines and drives, electric drive system control, steady state analysis with non-conventional sources, small signal dynamic response and doubly salient electric machines.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Graduate standing and knowledge of (a) electric machines, (b) power electronics, and (c) programming, or permission of department. Credit will not be given for ECGR 6199 where credit has been given for ECGR 8199.</li>
                <li>Most Recently Offered (Day): Course has not been offered at this time in the past 3 years</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ECGR 5411 - Control Systems Theory I
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
            Transfer functions, block diagrams and signal flow graphs. Feedback control system characteristics. The performance and stability of feedback systems using root locus and frequency response methods. Time domain analysis of control systems. The design and compensation of control systems. Credit will not be given for ECGR 5411 where credit has been given for ECGR 4111.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): ECGR 3111 or equivalent.</li>
                <li>Most Recently Offered (Day): Fall 2016, Fall 2014, Fall 2013</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            ECGR 6115 - Optimal Control Theory I
          </button>
        </h5>
      </div>
  
      <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
            Optimum control of continuous-time and discrete time systems. The Maximum Principle and Hamilton Jacobi Theory. Theory of optimal regulator, state estimation and Kalman Bucy Filter. Combined estimation and control–the Linear Quadratic Gaussian Problems. Computational methods in optimum control systems.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Credit will not be given for ECGR 6115 where credit has been given for ECGR 8115, ECGR 6111 or permission of department.</li>
                <li>Most Recently Offered (Day): Spring 2017, Spring 2016, Fall 2014</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            ECGR 6190 - Smart Grid: Characteristics, Design, and Analysis
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
            The fundamental principles of the Smart Grid with emphasis on Grid modernization Analysis and design. Examines the design and integration of renewable energy resources to power grid, the impact of power system analysis in the context of smart grid, smart grid observability and controllability, Wide Area Monitoring and Control, Self-Healing network.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Graduate standing and knowledge of fundamentals of power systems, or permission from the department. Credit will not be given for ECGR 6190 where credit has been given for ECGR 8190.</li>
                <li>Most Recently Offered (Day): Fall 2016, Fall 2015, Fall 2014</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            ECGR 6144 - Electric Power Distribution Systems I
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
            The fundamental principles of the electric power delivery system with emphasis on distribution systems. Examines three-phase unbalanced system and component models, distribution power flow analysis, and radial power flow techniques.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Graduate standing and knowledge of fundamentals of power systems, or permission from the department. Credit will not be given for ECGR 6144 where credit has been given for ECGR 8144.</li>
                <li>Most Recently Offered (Day): Fall 2016, Spring 2015, Spring 2014</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTen">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            ECGR 6117 - Multivariable Controls
        </button>
      </h5>
    </div>

    <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body">
        Problem of robustness controls, emphasizing computer-oriented approaches; high infinity and algebraic methods current developments.
            <br>
            <br>
            <ul>
                <li>Prerequisite(s): Credit will not be given for ECGR 6117 where credit has been given for ECGR 8117.</li>
                <li>Most Recently Offered (Day): Course has not been offered at this time in the past 3 years</li>
                <li>Most Recently Offered (Evening): Course has not been offered at this time in the past 3 years</li>
            </ul>
        </div>
    </div>
  </div>
</div>

<br>  
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
    </div>
  </footer>
  