<div class="jumbotron">
  <h1 class="display-4">Course Recommendation</h1>
  <p class="lead">These recommended courses are educational programs that are suggested to an individual based on their interests, 
    skills, or other relevant criteria. These courses are given by specialized 
    recommendation systems that use data analysis and machine learning algorithms to provide personalized recommendations.</p>
  <hr class="my-4">
  <div class="lead1">
      <br>
</div>
<div class="output-container" [innerHTML]="output"></div>
</div>
<div>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
  </div>
</footer>
</div>