<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container2 {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: #A49665;
        color: white;
        transform: rotateY(180deg);
    }

    .sectioncounter {
        box-sizing: border-box;
    }

    /* Float four columns side by side */
    .column {
        float: left;
        width: 25%;
        padding: 0 5px;
    }

    .row {
        margin: 0 -5px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive columns */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 #A49665;
        padding: 16px;
        text-align: center;
        background-color: #005035;
        color: white;
        width: 20rem;
    }

    .fa {
        font-size: 50px;
    }

    .container {
        border: 2px solid #005035;
        background-color: #A49665;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 36px;
        color: black;
    }
    
    .container1 {
        border: 2px solid #A49665;
        background-color: #005035;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 36px;
        color: white;
        float: inline-end;
    }

    /* Clear floats after containers */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .container1::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
    .container img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }

    .container1 img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }

    /* Increase the font-size of a span element */
    .container span {
        font-size: 20px;
        margin-right: 15px;
    }

    .container1 span {
        font-size: 20px;
        margin-right: 15px;
    }

    /* Add media queries for responsiveness. This will center both the text and the image inside the container */
    @media (max-width: 500px) {
        .container {
            text-align: center;
        }

        .container img {
            margin: auto;
            float: none;
            display: block;
        }
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Career Advice</h1>
    <p class="lead">A career advice page is a resource that provides information, tips, and guidance for individuals
        seeking help in making informed decisions about their career paths, job search strategies, and professional
        development.</p>
    <hr class="my-4">
    <div class="lead1">
        Career Exploration:
        <br>
        <br>
        <ul>
            <li>Overview of various industries and job roles</li>
            <li>Self-assessment tools and quizzes to identify strengths, interests, and career preferences</li>
            <li>Information on relevant degrees, certifications, and training programs for different careers</li>
            <li>Strategies for finding and applying to internships, part-time jobs, and freelance opportunities</li>
            <li>Tips for negotiating salary, benefits, and other aspects of employment contracts</li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Look For Advice
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#" routerLink="/resumebuild">Resume Building</a>
            <a class="dropdown-item" href="#" routerLink="/selfassessment">Self-assessment Tools</a>
            <a class="dropdown-item" href="#" routerLink="/strategiesjob">Strategies For Job Applications</a>
            <a class="dropdown-item" href="#" routerLink="/interviewtop">Interview Tips</a>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="jumbotron jumbotron-fluid">
    <div class="container2">
        <h1 class="display-5">University Career Center</h1>
        <p class="lead2">"Empowering Your Professional Journey: Expert Guidance for Every Step of Your Career Path"</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card1" style="width: 18rem;">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/13.jpg" alt="Avatar" style="width: 20rem;">
                    </div>
                    <div class="flip-card-back" herf="https://careerdocs.charlotte.edu/virtualkiosk/">
                        <h1>Make an Appointment</h1>
                        <p>Students can make an appointment through their Hire-A-Niner account. </p>
                        <a herf="https://careerdocs.charlotte.edu/guide/?ref=buttons">Press to make an appointment.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card1" style="width: 18rem;">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/14.jpg" alt="Avatar" style="width: 20rem;">
                    </div>
                    <div class="flip-card-back" herf="https://hireaniner.charlotte.edu/?ref=buttons">
                        <h1>Hire-A-Niner</h1>
                        <p>Connecting with top employers for promising career opportunities and internships</p>
                        <a herf="https://careerdocs.charlotte.edu/guide/?ref=buttons">Your Gateway to Success</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card1" style="width: 18rem;">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/15.jpg" alt="Avatar" style="width: 20rem;">
                    </div>
                    <div class="flip-card-back" herf="https://careerdocs.charlotte.edu/guide/?ref=buttons">
                        <h1>Career Guide</h1>
                        <p> Offering personalized insights and expert advice to help you in your professional journey
                            with confidence.</p>
                        <a herf="https://careerdocs.charlotte.edu/guide/?ref=buttons">Unveiling Your Potential</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card1" style="width: 18rem;">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/16.jpg" alt="Avatar" style="width: 20rem;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Upcoming Events</h1>
                        <p>Stay informed and expand your network by participating in workshops, webinars.</p>
                        <a herf="https://hireaniner.charlotte.edu/events/">Discover and Engage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<hr class="my-4">
<div class="sectioncounter">
    <div class="row">
        <div class="column">
            <div class="card">
                <p><i class="fa fa-user"></i></p>
                <h3>10+</h3>
                <p>Professionals</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <p><i class="fa fa-check"></i></p>
                <h3>100+</h3>
                <p>Events</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <p><i class="fa fa-smile-o"></i></p>
                <h3>543+</h3>
                <p>Happy Students</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <p><i class="fa fa-coffee"></i></p>
                <h3>45+</h3>
                <p>Industrial Partners</p>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="jumbotron jumbotron-fluid">
    <div class="display-5">
        <h1 class="display-6" style="font-weight: 800; font-size: 4rem;">Testimonials</h1>
    </div>
</div>
<div class="con1">
    <div class="container">
        <img src="../../assets/img_avatar1.png" alt="Avatar" style="width:90px">
        <p><span>James Rakes</span>(Cybersecurity.)</p>
        <p>“I have now switched gears and am in a cybersecurity career.”</p>
    </div>
</div>
<div class="con2">
    <div class="container1">
        <img src="../../assets/img_avatar2.png" alt="Avatar" style="width:90px">
        <p><span>Gabriel Mangum</span>(Full Stack Flex.)</p>
        <p>“I was making just over minimum wage in a kitchen when I learned about the program and was able to come out of it with a certificate and within a short amount of time, a career.”</p>
    </div>
</div>
<div class="con1">
    <div class="container">
        <img src="../../assets/img_avatar1.png" alt="Avatar" style="width:90px">
        <p><span>Tyler Miess</span>(SWE-1 at Atlass.)</p>
        <p>“The connections gained from the boot camp, may it be the instructors and TAs, or classmates and career services will cherished.”</p>
    </div>
</div>
<div class="con2">
    <div class="container1">
        <img src="../../assets/img_avatar2.png" alt="Avatar" style="width:90px">
        <p><span>Daniel Oliveira</span>(Data Analyst at RMD.)</p>
        <p>“Depending on your background, this may be one of the harder educational ventures in your life. However, in my opinion, it is absolutely worth it.”</p>
    </div>
</div>
<div class="foot">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
        </div>
    </footer>
</div>