<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */
    button {
        background-color: #A49665;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #005035;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #101820;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #A49665;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .close:hover,
    .close:focus {
        color: #007377;
        cursor: pointer;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Self Assessment</h1>
    <p class="lead">Welcome to our Self-Assessment page! Understanding yourself is the key to unlocking your full potential and achieving personal and professional success. Through self-assessment, you'll gain valuable insights into your strengths, weaknesses, motivations, and values. Our resources are designed to guide you on a journey of self-discovery that can lead to personal growth and improved career satisfaction.</p>
    <hr class="my-4">
    <div class="lead1">
        Discover Your Potential: Unleash the Power of Self-Assessment, Unlock Your Hidden Strengths, Self-Assessment for Personal and Professional Growth.
        <br>
        <br>
        <ul>
            <li>Identify Your Strengths and Weaknesses:
                <ul>Take the time to reflect on your skills, talents, and areas where you may need improvement. Consider using tools like the SWOT analysis (Strengths, Weaknesses, Opportunities, and Threats) or skill inventories to help you gain a clearer understanding of your abilities.</ul>
            </li>
            <br>
            <li>Assess Your Values and Motivations:                :
                <ul>Understanding what drives you and what you truly value can lead to more fulfilling career choices. Reflect on your passions, interests, and the factors that give you a sense of purpose.</ul>
            </li>
            <br>
            <li>Set SMART Goals:
                <ul>Using the insights gained from self-assessment, set Specific, Measurable, Achievable, Relevant, and Time-bound (SMART) goals for personal and professional growth. Break your goals down into manageable steps and track your progress along the way.</ul>
            </li>
            <br>
            <li>Seek Feedback from Others:
                <ul>Gain additional insights into your strengths and areas for improvement by seeking feedback from colleagues, mentors, and friends. Constructive feedback can provide you with valuable perspectives to further refine your self-assessment.</ul>
            </li>
            <br>
            <li>Embrace Lifelong Learning:
                <ul>Commit to continually developing your skills and knowledge through professional development, self-directed learning, and staying current in your field. This will help you stay adaptable and competitive in the job market.</ul>
            </li>
            <br>
            <li>Reflect on Your Progress and Adjust as Needed:
                <ul>Periodically review your progress towards your personal and professional goals. Reflect on your achievements, setbacks, and any new insights you've gained. Use this information to adjust your goals or strategies as needed..</ul>
            </li>
            <br>
            <li>Utilize Assessment Tools:
                <ul>Consider using personality assessments, such as the Myers-Briggs Type Indicator (MBTI) or the StrengthsFinder, to further explore your personality traits, preferences, and strengths. These tools can provide additional insights to help guide your personal and professional development.</ul>
            </li>
            <br>
        </ul>
        By engaging in self-assessment and investing in your personal growth, you can unlock your true potential and create a fulfilling and successful career path. Embrace the journey of self-discovery, and let it guide you towards new opportunities and lasting success.
    </div>
    <br>
    <p class="lead">
        <button style="width:auto;" class="btn btn-success">Take Next Steps</button>

        <button style="width:auto; margin-left: 20px; color: #FFFFFF;"
            class="btn btn-success">Contact the Advisor</button>
    </p>
</div>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
    </div>
</footer>